.box{
    background-color: lightgreen;
    height: 120px;
    width: 120px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}