*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
}

a{
    color:white;
}
.header{
    color: white;
    background-color: #1a1a1a;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid gray;
}

.header .logo{

    width: 75%;
}

.header .navbar{

}

.header .login-btn{
    width: 25%;

}

.header .login-btn button{
    width:80%;
    height: 25px;
    border-radius: 5px;
    background-color: #4b4040;
    border: 2px solid #4b4b40;
    color:white;
}

.header .login-btn button:hover{
    background-color: #272121;

}

.footer{
    width: 100%;
    background-color: black;
}

@media screen and (max-width:1000px){
    .header{
        color:green;
    }
}

@media screen and (max-width:800px){
    .header{
        color:red;
    }
}

@media screen and (max-width:600px){
    .header{
        color:orange;
    }
}

@media screen and (max-width:400px){
    .header{
        color:purple;
    }
}

@media screen and (min-width:800px)
{
    .footer{
        background-color: red;
    }
}