*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 400px;
}

button{
    width: 100px;
    height: 50px;
    background-color: red;
    font-size: 30px;
    color: white;
    border: 0;
}