*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mybox{
    font-size: 40px;
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}